[
    {
        "tags": ["ros2_msg"],
        "type": "speaker",
        "functionname": "ErrorFeed",
        "displayname": "Error Feed",
        "description": "Communicate error information in the system between different components or modules.",
        "filetype": "msg/ErrorFeed.msg",
        "params": [
            {
                "datatype": "uint32",
                "displayname": "error_code",
                "description": "The error code representing the specific error"
            },
            {
                "datatype": "string",
                "displayname": "module_id",
                "description": "The module ID where the error occurred"
            },
            {
                "datatype": "string",
                "displayname": "description",
                "description": "A description of the error"
            },
            {
                "datatype": "string",
                "displayname": "solution",
                "description": "A solution or suggestion for the error"
            },
            {
                "datatype": "string",
                "displayname": "miscellaneous",
                "description": "Additional information"
            },
            {
                "datatype": "datetime",
                "displayname": "timestamp",
                "description": "The timestamp when the error occurred"
            }
        ],
        "visible": true,
        "published": false
    },
    {
        "tags": ["ros2_msg"],
        "type": "speaker",
        "functionname": "StateFeed",
        "displayname": "State Feed",
        "description": "Communicate state information in the system between different components or modules.",
        "filetype": "msg/ErrorFeed.msg",
        "params": [
            {
                "datatype": "string",
                "displayname": "previous",
                "description": "The previous state of the system"
            },
            {
                "datatype": "string",
                "displayname": "current",
                "description": "The current state of the system"
            },
            {
                "datatype": "datetime",
                "displayname": "timestamp",
                "description": "The timestamp when the state was reported"
            }
        ],
        "displaystyle": {
            "visible": true,
            "published": false
        }
    },
    {
        "tags": ["ros2_msg"],
        "type": "speaker",
        "functionname": "NewsFeed",
        "displayname": "News Feed",
        "description": "Communicate news in the system between different components or modules.",
        "filetype": "msg/NewsFeed.msg",
        "params": [
            {
                "datatype": "string",
                "displayname": "type",
                "description": "The type of news (e.g., 'info', 'warning', 'error', 'action', 'debug')"
            },
            {
                "datatype": "string",
                "displayname": "message",
                "description": "The content of the news"
            },
            {
                "datatype": "datetime",
                "displayname": "timestamp",
                "description": "The timestamp when the news was published"
            },
            {
                "datatype": "string",
                "displayname": "module_id",
                "description": "The ID of the module that published the news"
            },
            {
                "datatype": "string",
                "displayname": "module_name",
                "description": "The name of the module that published the news"
            }
        ],
        "displaystyle": {
            "visible": true,
            "published": false
        }
    },
    {
        "tags": ["ros2_srv"],
        "type": "callable",
        "functionname": "get_capabilities",
        "displayname": "Get Capabilities",
        "description": "Retrieve the capabilities of the V.Y.R.A. system.",
        "filetype": "srv/GetCapabilities.srv",
        "params": [],
        "returns": [
            {
                "name": "capabilities",
                "datatype": "string[]",
                "displayname": "Capabilities",
                "description": "A list of strings representing the system capabilities"
            }
        ],
        "displaystyle": {
            "visible": true,
            "published": false
        }
    },
    {
        "tags": ["ros2_srv"],
        "type": "callable",
        "functionname": "trigger_transition",
        "displayname": "Trigger Transition",
        "description": "Trigger a transition in the V.Y.R.A. system.",
        "filetype": "srv/TriggerTransition.srv",
        "params": [],
        "returns": [
            {
                "name": "success",
                "datatype": "bool",
                "displayname": "Success",
                "description": "Indicates whether the transition was successful"
            },
            {
                "name": "message",
                "datatype": "string",
                "displayname": "Message",
                "description": "A message providing additional information about the transition"
            }
        ],
        "displaystyle": {
            "visible": true,
            "published": false
        }
    }
]